<%- include ('partials/_header'); %>

    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                            <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="tipoevento" placeholder="Ingrese el Tipo de Evento" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="fechaevento" placeholder="Ingrese La fecha del Evento" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="rangoedad" placeholder="Ingrese el rango de edad" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="direccion" placeholder="Ingrese la direccion" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea type="text" name="description" cols="80" placeholder="Ingrese la descripción del evento" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Aceptar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- LIST -->
            <div class="col-md-9">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Tipo Evento</th>
                            <th>Fecha Evento</th>
                            <th>Rango de Edad</th>
                            <th>Dirección</th>
                            <th>Descripción</th>
                            <!-- Botones para CRUD -->
                            <th>Cambio Estado</th>
                            <th>Eliminar</th>
                            <th>Actualizar</th>
                        </tr>
                    </thead>
                        <% for(var i=0; i < tasks.length; i++){ %>
                            <tr>
                                <td><%= i +1 %></td>
                                <td><%= tasks[i].tipoevento %></td>
                                <td><%= tasks[i].fechaevento %></td>
                                <td><%= tasks[i].rangoedad %></td>
                                <td><%= tasks[i].direccion %></td>
                                <td><%= tasks[i].description %></td>
                                <!-- Botones para CRUD -->
                                <td><a href="/turn/<%= tasks[i]._id %>" class="btn <%= tasks[i].status? 'btn-success' : 'btn-dark' %>">Done</a></td>
                                <td><a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a></td>
                                <td><a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">Edit</a></td>
                            </tr>
                        <% } %>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/_footer'); %>